header {
	position: fixed;
	width: 100vw;
	z-index: 20;
	
	height: 3rem;
	display: flex;
	justify-content: space-between;
	background-color: #090a09;
}

header .icon {
	margin: 0.5rem 0 0 0.5rem;
	width: 3rem;
}


header nav ul {
	margin-right: 50px;
	margin-top: 10px;
	display: flex;
}

nav li a {
	margin-right: 30px;
	text-decoration: none;
	color: #d0e4d0;
}

